@font-face {
    font-family: Gotham-Bold;
    src: url('fonts/Gotham-Bold.otf');
}

@font-face {
    font-family: Gotham-Book;
    src: url('fonts/Gotham-Book.otf');
}

@font-face {
    font-family: Gotham-Medium;
    src: url('fonts/Gotham-Medium.otf');
}


/*NAVBAR*/

.navbar-brand {float:none;}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding:0;
}

.navbar-brand img {
    margin: 5px auto;
}

.navbar-toggle {
    z-index:1;
}

.navbar-default , .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #009ca6;
}

.navbar-toggle {
    border-width: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    transition: all 0.3s;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #222;
    font-weight: 700;
}

.navbar-fixed-bottom {
    border-width: 0px;
}

.navbar-right {
    margin-right: 0;
}

/*BODY*/

body {
    background-image: url("assets/general/fotolia_140591721.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: Gotham-Book;
}

body.couverture {
    height: 100vh;
}


body.page {
    margin-bottom: 50px;
}

h2,h3,h4 {
    font-family: Gotham-Medium;
}

h1 {
    font-family: Gotham-Bold;
}

h2 {
    font-size: 24px;
}

h2, h4.text-uppercase {
    color: #004d93;
    margin-top: 30px;
}

h4.text-uppercase {
    line-height: 24px;
}

h4 {
    font-size: 16px;
}

p.text-center {
    color: #004d93;
}

.heavier {
    font-family: Gotham-Medium;
}

/*BANNER */

.couverture-container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.couverture-text h1 {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background: rgba(0, 77, 147, 0.8 );
    padding: 20px;
    border-radius: 20px;
    font-size: 28px;
    font-family: Gotham-Bold;
    margin: 60px 10px;
    line-height: 30px;
    letter-spacing: 1px;
    line-height: 34px;
}

.couverture-text h3 {
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
    margin: 10px;
}

.couverture-text h3 span{
    font-family: Gotham-Medium;
}

/*HEADER*/

header {
    text-align: center;
    text-transform: uppercase;
    background: #004d93;
    margin: 0;
    padding: 5px;
    letter-spacing: 1.2px;
    color: #FFF;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

header h1 {
    font-size: 24px;
}

header img.cardiogram-icon {
    width: 35px;
}

header img.etouffement-icon,
header img.garrot-icon{
    width: 25px;
}

header img.inconscient-icon {
    width: 40px;
}

/*BANNER*/

.banner {
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
}

.container {
    margin-bottom: 15px;
    padding-top: 50px;
}

/*BUTTON*/
.banner a.btn {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin: 20px auto;
    background: rgba(0,0,0,1);
    color: #fff;
}

.banner a.btn:hover {
    background: rgba(0,0,0,.85);
}

/*LIST*/

.nice-ul {
	position: relative;
	padding-left: 32px;
	list-style-type: none;
    font-weight: 400;
}

.nice-ul li {
	margin-bottom: 8px;
}

.nice-ul li:not(:last-child)::before,
.nice-ul li:last-child::before {
	position: absolute;
	left: 0;
	padding: 2px 8px;
	font-size: 1em;
	color: #004d93;
}

.nice-ul.check li::before,
.nice-ul li:not(:last-child)::before {
    content: "\2713";
}

.nice-ul.check li:last-child::before {
    content: "\2713";
    margin-bottom: 0;
}

.nice-ul.bullet-small li::before ,
.nice-ul.bullet li::before {
    content: "\2022" !important;
}

.nice-ul.bullet li::before{
    font-size: 32px;
    line-height: 16px;
}


.nice-ul.bullet-small li::before {
    font-size: 26px;
    line-height: 16px;
}

.nice-ul li:last-child::before {
	margin-bottom: 0;
    content: "\25BA";
}

.video-icon {
    z-index: 300;
    position: absolute;
    width: 60px;
    top: 10px;
    left: 10px;
}


@media (min-width: 415px) {
    .banner a.btn {
        max-width: 300px;
    }
}

@media (max-width: 415px) {
    .video-icon {
        width: 30px;
        top: 5px;
        left: 5px;
    }
}

@media (max-width: 320px) {
    .container {
        padding-top: 75px;
    }
}

@media (max-width:414px) {
    .couverture-text h1 {
        font-size: 24px;
        padding: 15px;
    }

    .couverture-text h3 {
        font-size: 15px;
    }
}
